<!doctype html>
<html lang="en">
<head>
  <title>Sidebar 01</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" class="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5"
         style="background-image: url(assets/images/logos/knight-logo.png);"></a>
      <h2 class="mb-4 text-center">Hello, {{ usernameAuthenticated }}!</h2>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a (click)="toogleHome()">Home</a>
        </li>
        <li>
          <a (click)="toogleScoalaAltfel()">About Scoala Altfel</a>
        </li>
        <li>
          <a (click)="toogleViewAccountDetails()">View account details</a>
        </li>
        <li>
          <a (click)="toogleEditAccountDetails()">Edit account details</a>
        </li>
        <li>
          <a (click)="toogleSearchPlayers()">Search players</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>

    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 ">
    <ng-container *ngIf="isViewAccountInfoBtnClicked">
      <h2 class="text-center mb-4 p-t-100">Player Account Information</h2>

      <div class="row d-flex justify-content-center align-items-center p-t-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                   style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                     alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                <h2>{{ usernameAuthenticated }}</h2>
                <h5>Chess player</h5>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Account Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{ player.email }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Score</h6>
                      <p class="text-muted">{{ player.score }}</p>
                    </div>
                  </div>
                  <h6>Matches History</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Victory</h6>
                      <p class="text-muted">Lorem ipsum</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Draw</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Defeat</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Id</h6>
                      <p class="text-muted">{{ player.id }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isHomeBtnClicked">
      <h2 class="text-center mb-4 p-t-100">What do you want to play today?</h2>
      <div class="text-center p-t-100">
        <button type="button" class="btn mr-md-2 mb-md-0 mb-2 btn-outline-primary btn-lg">Local game</button>
        <button type="button" class="btn mr-md-2 mb-md-0 mb-2 btn-outline-success btn-lg p-t-100">Online game</button>
      </div>
    </ng-container>

    <ng-container *ngIf="isEditAccountInfoBtnClicked">
      <h2 class="text-center mb-4 p-t-30">Player's account settings</h2>
      <div class="row justify-content-center p-t-50">
        <div class="col-md-3 mb-2">
          <div class="text-center">
            <button (click)="toogleEditUsername()" type="button"
                    class="btn mr-md-2 mb-md-0 mb-2 btn-outline-primary btn-lg btn-block">Edit username
            </button>
            <form *ngIf="isEditUsernameBtnClicked" class="login100-form validate-form p-t-50 d-inline-block"
                  (ngSubmit)="updateUsername()"
                  #usernameForm="ngForm">
              <div class="form-row">
                <div class="input-group text-center" style="width: 200%;">
                  <input class="input--style-5"
                         type="text"
                         name="newUsername"
                         placeholder="Enter your new username"
                         [(ngModel)]="newUsername"
                         required>
                </div>
              </div>

              <div class="form-row">
                <div class="input-group" style="width: 200%;">
                  <input class="input--style-5"
                         type="{{ isVisiblePasswordUsername ? 'text' : 'password' }}"
                         name="passwordToConfirmUsername"
                         placeholder="Enter your current password to confirm"
                         [(ngModel)]="passwordToConfirmUsername"
                         required>
                  <span class="toggle-password" (click)="toggleUsernamePassword()">
                <i class="fa" [ngClass]="isVisiblePasswordUsername ? 'fa-eye' : 'fa-eye-slash'"
                   aria-hidden="true"></i>
              </span>
                </div>
              </div>

              <div class="container-login100-form-btn" style="width: 100%;">
                <a>
                  <button class="login100-form-btn"
                          type="submit"
                          [disabled]="usernameForm.invalid">
                    Update username
                  </button>
                </a>
              </div>

              <div class="error-container p-t-50">
                <div *ngIf="backendErrorUsername" class="alert alert-danger text-center">
                  {{ backendErrorUsername }}
                </div>
                <div *ngIf="successMessageUsername" class="alert alert-success text-center">
                  {{ successMessageUsername }}
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-3 mb-2">
          <button (click)="toogleEditEmail()" type="button"
                  class="btn mr-md-2 mb-md-0 mb-2 btn-outline-primary btn-lg p-t-100 btn-block">Edit
            email
          </button>
          <div class="text-center">
            <form *ngIf="isEditEmailBtnClicked" class="login100-form validate-form p-t-50" (ngSubmit)="updateEmail()"
                  #emailForm="ngForm">
              <div class="form-row">
                <div class="input-group" style="width: 200%;">
                  <input class="input--style-5"
                         type="text"
                         name="newEmail"
                         placeholder="Enter your new email"
                         [(ngModel)]="newEmail"
                         required>
                </div>
              </div>

              <div class="form-row">
                <div class="input-group" style="width: 200%;">
                  <input class="input--style-5"
                         type="{{ isVisiblePasswordEmail ? 'text' : 'password' }}"
                         name="passwordToConfirmEmail"
                         placeholder="Enter your current password to confirm"
                         [(ngModel)]="passwordToConfirmEmail"
                         required>
                  <span class="toggle-password" (click)="toggleEmailPassword()">
                <i class="fa" [ngClass]="isVisiblePasswordEmail ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
              </span>
                </div>
              </div>

              <div class="container-login100-form-btn">
                <a>
                  <button class="login100-form-btn"
                          type="submit"
                          [disabled]="emailForm.invalid">
                    Update email
                  </button>
                </a>
              </div>

              <div class="error-container p-t-50">
                <div *ngIf="backendErrorEmail" class="alert alert-danger text-center">
                  {{ backendErrorEmail }}
                </div>
                <div *ngIf="successMessageEmail" class="alert alert-success text-center">
                  {{ successMessageEmail }}
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-3 mb-2">
          <button (click)="toogleEditPassword()" type="button"
                  class="btn mr-md-2 mb-md-0 mb-2 btn-outline-primary btn-lg btn-block">Edit password
          </button>
          <div class="text-center">
            <form *ngIf="isEditPasswordBtnClicked" class="login100-form validate-form p-t-50"
                  (ngSubmit)="updatePassword()" #passwordForm="ngForm">
              <div class="form-row">

                <div class="input-group" style="width: 200%;">
                  <input class="input--style-5"
                         type="{{ isVisibleNewPassword ? 'text' : 'password' }}"
                         name="newPassword"
                         placeholder="Enter your new password"
                         [(ngModel)]="newPassword"
                         required>
                  <span class="toggle-password" (click)="toggleNewPassword()">
                    <i class="fa" [ngClass]="isVisibleNewPassword ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <div class="form-row">
                <div class="input-group" style="width: 200%;">
                  <input class="input--style-5"
                         type="{{ isVisibleConfirmNewPassword ? 'text' : 'password' }}"
                         name="confirmNewPassword"
                         placeholder="Confirm your new password"
                         [(ngModel)]="confirmNewPassword"
                         required>
                  <span class="toggle-password" (click)="toggleConfirmNewPassword()">
                    <i class="fa" [ngClass]="isVisibleConfirmNewPassword ? 'fa-eye' : 'fa-eye-slash'"
                       aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <div class="form-row">
                <div class="input-group" style="width: 200%;">
                  <input class="input--style-5"
                         type="{{ isVisiblePasswordPassword ? 'text' : 'password' }}"
                         name="passwordToConfirm"
                         placeholder="Enter your current password to confirm"
                         [(ngModel)]="passwordToConfirmPassword"
                         required>
                  <span class="toggle-password" (click)="togglePasswordPassword()">
                    <i class="fa" [ngClass]="isVisiblePasswordPassword ? 'fa-eye' : 'fa-eye-slash'"
                       aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <div class="container-login100-form-btn">
                <a>
                  <button class="login100-form-btn"
                          type="submit"
                          [disabled]="passwordForm.invalid">
                    Update password
                  </button>
                </a>
              </div>

              <div class="error-container p-t-50">
                <div *ngIf="backendErrorPassword" class="alert alert-danger text-center">
                  {{ backendErrorPassword }}
                </div>
                <div *ngIf="successMessagePassword" class="alert alert-success text-center">
                  {{ successMessagePassword }}
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-3 mb-2">
          <button (click)="toogleDeleteAccount()" type="button"
                  class="btn mr-md-2 mb-md-0 mb-2 btn-outline-primary btn-lg p-t-100 btn-block">Delete
            account
          </button>
          <div class="text-center">
            <form *ngIf="isDeleteAccountBtnClicked" class="login100-form validate-form p-t-50"
                  (ngSubmit)="deletePlayer()" #deleteForm="ngForm">
              <div class="form-row">
                <div class="input-group" style="width: 200%;">
                  <input class="input--style-5"
                         type="{{ isVisibleDeletePassword ? 'text' : 'password' }}"
                         name="passwordToConfirmDelete"
                         placeholder="Enter your current password to confirm"
                         [(ngModel)]="passwordToConfirmDelete"
                         required>
                  <span class="toggle-password" (click)="toggleDeletePassword()">
                      <i class="fa" [ngClass]="isVisibleDeletePassword ? 'fa-eye' : 'fa-eye-slash'"
                         aria-hidden="true"></i>
                    </span>
                </div>
              </div>

              <div class="container-login100-form-btn">
                <a>
                  <button class="login100-form-btn"
                          type="submit"
                          [disabled]="deleteForm.invalid">
                    Delete account
                  </button>
                </a>
              </div>

              <div class="error-container p-t-50">
                <div *ngIf="backendErrorDelete" class="alert alert-danger text-center">
                  {{ backendErrorDelete }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isSearchPlayersBtnClicked">
      <div class="s130">
        <form>
          <div class="inner-form">
            <div class="input-field first-wrap">
              <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
              </div>
              <input id="search" type="text" placeholder="Type player's username"  #searchBox/>
            </div>
            <div class="input-field second-wrap">
              <button class="btn-search" type="button" (click)="searchPlayer(searchBox.value)">SEARCH</button>
            </div>
          </div>
        </form>
      </div>

      <div class="error-container-search-player">
        <div *ngIf="backendErrorSearchPlayer" class="alert alert-danger text-center">
          {{ backendErrorSearchPlayer }}
        </div>
      </div>

      <div *ngIf="displaySearchedPlayer" class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                   style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                     alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                <h2>{{ searchedPlayer.username }}</h2>
                <h5>Chess player</h5>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Account Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{ searchedPlayer.email }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Score</h6>
                      <p class="text-muted">{{ searchedPlayer.score }}</p>
                    </div>
                  </div>
                  <h6>Matches History</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Victory</h6>
                      <p class="text-muted">Lorem ipsum</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Draw</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Defeat</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Id</h6>
                      <p class="text-muted">{{ searchedPlayer.id }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
