#sidebar {
    background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
    background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.gradient-custom {
    background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
    background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}

.wrap-input100 {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input--style-5 {
  width: 100%;
}

.login100-form {
  width: 100%;
}

.btn-outline-primary {
  background-image: linear-gradient(to bottom, #007bff, #0062cc);
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  background-image: linear-gradient(to right, #08aeea, #b721ff);
  background-color: #08aeea;
  color: #fff;
  border-color: #08aeea;
}

.s130 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px 15px;
}

.error-container-search-player {
  width: 40%;
  margin: auto;
}

.popup {
  background: #9599F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: fixed;
  top: 50%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  transition: all 5s ease-in-out;
  z-index: 2;
}

.popup .content {
  background-color: #D2F5CE;
  border-radius: 5px;
  padding: 10px;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.background-rectangle {
  background-image: url('/assets/images/backgrounds/scoalaaltfel.jpg');
  width: 100%;
  height: 100%;
}
