<div class="page-wrapper bg-gra-03 p-t-150 p-b-50">
  <div class="wrapper wrapper--w790 align-bottom">
    <div class="card card-5">

      <div class="card-heading bg-dark">
        <h2 class="title">Player Register</h2>
      </div>

      <div class="card-body">
        <form method="POST">

          <div class="form-row">
            <div class="name">Username</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="text" name="company">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="name">Email</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="text" name="company">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="name">Password</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="email" name="email">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="name">Confirm Password</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="email" name="email">
              </div>
            </div>
          </div>

          <div class="container-login100-form-btn">
            <a routerLink="/login" class="nav-link" routerLinkActive="active">
              <button class="login100-form-btn" type="submit">
                Register
              </button>
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
