.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  padding: 2% 0%;
}


h1 {
  font-size: 48px;
}

p {
  font-size: 24px;
}
