<div class="page-wrapper bg-gra-03">
  <div class="wrapper">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="border border-3 border-success" ></div>
        <div class="card bg-white shadow" style="padding: 40px 0;">
          <img class="mx-auto"  src="/assets/images/logos/check-logo.png" width="200" height="auto">
          <div class="text-center" style="padding: 30px 0;">
            <h1>Register successful!</h1>
            <div style="padding: 10px 0;"></div>
            <p>Please login to play Scoala Altfel Chess game</p>
            <div style="padding: 10px 0;"></div>
            <div class="container-login100-form-btn" style="padding-top: 20px;">
              <a>
                <button class="login100-form-btn" (click)="gotoLogin()">
                  Redirect to login
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
