<div [ngClass]="{'overlay': true, 'show': showPopup}" *ngIf="showPopup" id="popup" class="overlay" #popup>
  <div class="popup">
    <a class="close" href="/client-homepage" (click)="closePopup()">&times;</a>
    <h2 *ngIf="isWinForWhite">White won! Congrats!</h2>
    <h2 *ngIf="isWinForBlack">Black won! Congrats!</h2>
  </div>
</div>

<div class="button-container">
  <button (click)="leaveGame()" type="button" class="btn mr-md-2 mb-md-0 mb-2 btn-outline-primary btn-lg">Abandon Game</button>
</div>

<div class="chess-board-container">
  <div class="board">
    <ng-container *ngIf="knight1W | async as np1w">
    <ng-container *ngIf="knight2W | async as np2w">
    <ng-container *ngIf="pawn1W | async as pp1w">
    <ng-container *ngIf="pawn2W | async as pp2w">
    <ng-container *ngIf="pawn3W | async as pp3w">
    <ng-container *ngIf="pawn4W | async as pp4w">
    <ng-container *ngIf="pawn5W | async as pp5w">
    <ng-container *ngIf="pawn6W | async as pp6w">
    <ng-container *ngIf="pawn7W | async as pp7w">
    <ng-container *ngIf="pawn8W | async as pp8w">
    <ng-container *ngIf="rook1W | async as rp1w">
    <ng-container *ngIf="rook2W | async as rp2w">
    <ng-container *ngIf="bishop1W | async as bp1w">
    <ng-container *ngIf="bishop2W | async as bp2w">
    <ng-container *ngIf="queenW | async as qpw">
    <ng-container *ngIf="kingW | async as kpw">
    <ng-container *ngIf="knight1B | async as np1b">
    <ng-container *ngIf="knight2B | async as np2b">
    <ng-container *ngIf="pawn1B | async as pp1b">
    <ng-container *ngIf="pawn2B | async as pp2b">
    <ng-container *ngIf="pawn3B | async as pp3b">
    <ng-container *ngIf="pawn4B | async as pp4b">
    <ng-container *ngIf="pawn5B | async as pp5b">
    <ng-container *ngIf="pawn6B | async as pp6b">
    <ng-container *ngIf="pawn7B | async as pp7b">
    <ng-container *ngIf="pawn8B | async as pp8b">
    <ng-container *ngIf="rook1B | async as rp1b">
    <ng-container *ngIf="rook2B | async as rp2b">
    <ng-container *ngIf="bishop1B | async as bp1b">
    <ng-container *ngIf="bishop2B | async as bp2b">
    <ng-container *ngIf="queenB | async as qpb">
    <ng-container *ngIf="kingB | async as kpb">
      <div class="square-container" *ngFor="let i of sixtyFour">
        <app-square
          *ngIf="xy(i) as pos"
          [black]="isBlack(pos)"
          [class.selected]="isSquareSelected(pos)"
          [isValid]="isValidMoves[i]"
          (click)="handleSquareClick(pos)"
        >
          <app-knight *ngIf="pos.x === np1w.x && pos.y === np1w.y" [isWhite]="true"></app-knight>
          <app-knight *ngIf="pos.x === np2w.x && pos.y === np2w.y" [isWhite]="true"></app-knight>
          <app-pawn *ngIf="pos.x === pp1w.x && pos.y === pp1w.y" [isWhite]="true"></app-pawn>
          <app-pawn *ngIf="pos.x === pp2w.x && pos.y === pp2w.y" [isWhite]="true"></app-pawn>
          <app-pawn *ngIf="pos.x === pp3w.x && pos.y === pp3w.y" [isWhite]="true"></app-pawn>
          <app-pawn *ngIf="pos.x === pp4w.x && pos.y === pp4w.y" [isWhite]="true"></app-pawn>
          <app-pawn *ngIf="pos.x === pp5w.x && pos.y === pp5w.y" [isWhite]="true"></app-pawn>
          <app-pawn *ngIf="pos.x === pp6w.x && pos.y === pp6w.y" [isWhite]="true"></app-pawn>
          <app-pawn *ngIf="pos.x === pp7w.x && pos.y === pp7w.y" [isWhite]="true"></app-pawn>
          <app-pawn *ngIf="pos.x === pp8w.x && pos.y === pp8w.y" [isWhite]="true"></app-pawn>
          <app-rook *ngIf="pos.x === rp1w.x && pos.y === rp1w.y" [isWhite]="true"></app-rook>
          <app-rook *ngIf="pos.x === rp2w.x && pos.y === rp2w.y" [isWhite]="true"></app-rook>
          <app-bishop *ngIf="pos.x === bp1w.x && pos.y === bp1w.y" [isWhite]="true"></app-bishop>
          <app-bishop *ngIf="pos.x === bp2w.x && pos.y === bp2w.y" [isWhite]="true"></app-bishop>
          <app-queen *ngIf="pos.x === qpw.x && pos.y === qpw.y" [isWhite]="true"></app-queen>
          <app-king *ngIf="pos.x === kpw.x && pos.y === kpw.y" [isWhite]="true"></app-king>
          <app-knight *ngIf="pos.x === np1b.x && pos.y === np1b.y" [isWhite]="false"></app-knight>
          <app-knight *ngIf="pos.x === np2b.x && pos.y === np2b.y" [isWhite]="false"></app-knight>
          <app-pawn *ngIf="pos.x === pp1b.x && pos.y === pp1b.y" [isWhite]="false"></app-pawn>
          <app-pawn *ngIf="pos.x === pp2b.x && pos.y === pp2b.y" [isWhite]="false"></app-pawn>
          <app-pawn *ngIf="pos.x === pp3b.x && pos.y === pp3b.y" [isWhite]="false"></app-pawn>
          <app-pawn *ngIf="pos.x === pp4b.x && pos.y === pp4b.y" [isWhite]="false"></app-pawn>
          <app-pawn *ngIf="pos.x === pp5b.x && pos.y === pp5b.y" [isWhite]="false"></app-pawn>
          <app-pawn *ngIf="pos.x === pp6b.x && pos.y === pp6b.y" [isWhite]="false"></app-pawn>
          <app-pawn *ngIf="pos.x === pp7b.x && pos.y === pp7b.y" [isWhite]="false"></app-pawn>
          <app-pawn *ngIf="pos.x === pp8b.x && pos.y === pp8b.y" [isWhite]="false"></app-pawn>
          <app-rook *ngIf="pos.x === rp1b.x && pos.y === rp1b.y" [isWhite]="false"></app-rook>
          <app-rook *ngIf="pos.x === rp2b.x && pos.y === rp2b.y" [isWhite]="false"></app-rook>
          <app-bishop *ngIf="pos.x === bp1b.x && pos.y === bp1b.y" [isWhite]="false"></app-bishop>
          <app-bishop *ngIf="pos.x === bp2b.x && pos.y === bp2b.y" [isWhite]="false"></app-bishop>
          <app-queen *ngIf="pos.x === qpb.x && pos.y === qpb.y" [isWhite]="false"></app-queen>
          <app-king *ngIf="pos.x === kpb.x && pos.y === kpb.y" [isWhite]="false"></app-king>
        </app-square>
      </div>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
    </ng-container>
  </div>
</div>
